
.left .tab-bar {
  max-height: 38px !important;
}
.left .tab-bar li.tab {
  height: 38px !important;
}
.left .tab-bar li.tab .title {
  line-height: 38px !important;
  position: relative;
  top:-20px;
}

.atom-dock-toggle-button {
  display: none;
}

// .atom-dock-toggle-button:not(.atom-dock-toggle-button-visible) {
//   opacity: 0;
//   transition: opacity 0.5s;
// }

.footer {
  display: none;
}
